{h1 background-color:orange;
}
#img1 {margin-left: 40%;}

{h2 background-color:orange;
}
#img2 {margin-left: 40%;}

{h3 background-color:blue;
}
#img3 {margin-left: 40%;}

 {h4 background-color:blue;
 }

 {h5 background-color:black
 }
